/* For the navbar*/

nav.main {
    background-color: #242424;
    opacity: 1.0;
}

div.page-nav
{
	vertical-align: middle;
	font-family: sans-serif;
	font-size: 22px;
    color:#fff;
    padding: 5px;
}

div.tab {
    color:#fcfcfc;
    font-weight: bold;
    font-size: 28px;
    height: auto;
    line-height: 60px;
    opacity: 0.8;
}

button.tab {
    border: none;
    display: block;
    height: 60px;
    width: 100%;
}

div.thumb {
    background-color: #242424;
}

/* Different colors */

.gray {
    background-color: #242424;
}

.red {
    background-color: #F24633;
}

.orange {
    background-color: #F9791E;
}

.yellow {
    background-color: #FFB300;
}

.green {
    background-color: #00B16A;
}

.blue {
    background-color: #1297F0;
}

.violet {
    background-color: #9F55FC;
}

/* Text modifiers */

p.body
{
    color: #e5e5e5;
	font-size: 18px;
    text-align: justify;
	font-family: sans-serif;
	text-indent: 10px;
    line-height: 1.5em;
}

.head1 {
    color: #e5e5e5;
    font-size: 72px;
}

.head2 {
    color: #e5e5e5;
    font-size: 50px;
}

.head3 {
    color: #e5e5e5;
    font-size: 36px;
    text-align: center;
}

.head4 {
    color: #e5e5e5;
    font-size: 24px;
    text-align: center;
}

/* Borders */
.redbord {
    border-style: solid;
    border-width: 3px;
    border-color: #F24633;
}

.orangebord {
    border-style: solid;
    border-width: 3px;
    border-color: #F9791E;
}

.yellowbord {
    border-style: solid;
    border-width: 3px;
    border-color: #FFB300;
}

.greenbord {
    border-style: solid;
    border-width: 3px;
    border-color: #00B16A;
}

.bluebord {
    border-style: solid;
    border-width: 3px;
    border-color: #1297F0;
}

.violetbord {
    border-style: solid;
    border-width: 3px;
    border-color: #9F55FC;
}
/* Miscellaneous */
.center13 {
    align-content: center;
    vertical-align: middle;
    margin-left: 16%;
    margin-right: auto;
}

.vcenter
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.vspace {
    border-style: solid;
    border-width: 7px;
    height: auto;
    border-color: #242424;
}

div.vlinered {
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #F24633;
}

div.hlinered {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #F24633;
}

div.hlineorange {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #F9791E;
}

div.hlineyellow {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #FFB300;
}

div.hlinegreen {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #00B16A;
}

div.hlineblue {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #1297F0;
}

div.hlineviolet {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #9F55FC;
}

.normal {
    color: #e5e5e5;
	font-size: 18px;
    text-align: justify;
	font-family: sans-serif;
	text-indent: 10px;
}