p.page-heading
{
  color: #0d00a4;
  font-size: 48px;
  font-family: sans-serif;
}

p.namebar
{
	margin: auto;
	width:50%;
	color: #ffb300;
	font-style: bold;
	position: relative;
  	top: 50%;
  	transform: translateY(10%);
}

nav.main {
    background-color: #242424;
    opacity: 0.7;
}

div.page-nav
{
	vertical-align: middle;
	font-family: sans-serif;
	font-size: 22px;
    color:#fff;
    padding: 5px;
}

div.tab {
    color:#fcfcfc;
    font-weight: bold;
    font-size: 28px;
    height: auto;
    line-height: 60px;
}

button.tab {
    border: none;
    display: block;
    height: 60px;
    width: 100%;
}

.gray {
    background-color: #242424;
}

.red {
    background-color: #F24633;
}

.orange {
    background-color: #F9791E;
}

.yellow {
    background-color: #FFB300;
}

.green {
    background-color: #00B16A;
}

.blue {
    background-color: #1297F0;
}

.violet {
    background-color: #9F55FC;
}

.vcenter
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vcenter2
{
  position: relative;
  top: 90%;
  transform: translateY(15%);
}

button.navbutton
{
	background-color: #084887;
	vertical-align: middle;
	text-align: center;
	color: #ffb300;
	position: relative;
  	top: 50%;
  	transform: translateY(0%);
  	margin: auto;
	width:90%;
	font-size: 22px;
}

button.edleftside
{
	background-color: #084887;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 3px;
	width:700px;
	position: relative;
  	top: 50%;
  	color: #ffb300;
  	transform: translateY(-50%);
}

div.edrightside
{
	padding: 15px;
}

div.eddrop
{
	/*display: none;*/
	border-color: #084887;
	border-width: 5px;
	border-style: solid;
	width:700px;
	padding: 5px;
	text-align: justify;
}

p.body
{
	font-size: 18px;
	font-family: sans-serif;
	text-indent: 10px;
}
